{% load static %}
<DOCTYPE! html>
<html>
<head>
	<title>my tables</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<style type="text/css">
    	
    	body{

    	font-family:Arila,sans-serif;
		background-color:#abba3c;
		color:black;
		margin-left:auto;
		margin-right:auto;
		padding:10px; 
		}
    	.container{
    	
    		resize: all;
    		
    		font-size: 32;
    	}

    	hgroup{
    		font-size: 31;
    		
    		font-color: black;
    	}
</style>
</head>

<body>
		<div class="container" align="center">
		<h2>
			{% load mathfilters %}
				{% for x in info.range %}
					{{info.res}} x {{x}} = {{ info.res|mul:x }}<br>
				{% endfor %}


		</h2>
		<hgroup>click to<a href="{% url 'select' %}">Select</a> new table</hgroup>
	</div>
</body>

</html>